<aside class="sidebar">
	<ul>
	  
<h2 class="sidebartitle">Blogroll</h2>
<ul>
   <li><a href="https://terrytao.wordpress.com/">Terry Tao</a></li>
   <li><a href="https://www.dam.brown.edu/people/mumford/blog.html">David Mumford</a></li>
   <li><a href="https://qchu.wordpress.com/"> Annoying Precision </a></li>
   <li><a href="https://www.brainpickings.org/">Brain Pickings</a></li>
   <li><a href="https://gowers.wordpress.com">Timothy Gowers</a></li>
   
</ul>
</ul>
</aside>
