<div class="container">
<div id="sidebar">
<ul>
<h2 class="sidebartitle">Blogroll</h2>
<ul>
   <li><a href="https://terrytao.wordpress.com/">Terry Tao</a></li>
   <li><a href="https://www.dam.brown.edu/people/mumford/blog.html">David Mumford</a></li>
   <li><a href="https://qchu.wordpress.com/"> Annoying Precision </a></li>
   <li><a href="https://www.brainpickings.org/">Brain Pickings</a></li>
   <li><a href="https://gowers.wordpress.com">Timothy Gowers</a></li>
   
</ul>
</ul>
<hr>
<ul class="cloud" role="navigation" aria-label="Webdev tag cloud">
<% Blogpost.tag_counts_on(:tags).each do |tag| %>
  <li><a data-weight= "<%= tag.taggings.count %>" href="<%= tag_path(tag.name) %>"><%= tag.name %></a></li>
  <% end %>
</ul>
  
</div>
</div>



