<% provide(:title, "Home") %>
<% provide(:baseTitle, "Math In Operation") %>
<!DOCTYPE html>


  <div id="header">
    <h1>&nbsp;&nbsp; math in operation</h1>
  </div>


<div id="list">
  <%= render 'shared/blogposts', obj: @blogposts %>
</div>

<div align="center">
 <%= will_paginate %>
</div>