<% provide(:title, "Home") %>
<% provide(:baseTitle, "Math In Operation") %>
<!DOCTYPE html>

<div align="center">
 <%= will_paginate %>
</div>
<%= render 'blogposts/sidebar' %>
<%= render 'shared/blogposts', obj: @blogposts %>



<div align="center">
 <%= will_paginate %>
</div>