<% provide(:title, "About") %>
<% provide(:baseTitle, "Math In Operation") %>
<!DOCTYPE html>

<h1><%= yield(:title) %> </h1>
    <p>
      This is a Rails project aiming to migrate this
      <a href="https://mathinoperation.wordpress.com" target="_blank">WordPress blog</a> with hopefully better LaTeX support.
    </p>