<% provide(:title, "Home") %>
<% provide(:baseTitle, "Math In Operation") %>
<!DOCTYPE html>
<div class="jumbotron">
  <h1>math in operation</h1>
    <p>
      This is the home page for Daksh Aggarwal's blog.
    </p>
    
 <!-- <%= link_to "Sign up now!", '#', class: "btn btn-lg btn- primary" %> -->
</div>

<!--<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
"https://rubyonrails.org/" %> -->
  
